---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit","name":"aks-cit","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.640252121s
    - id: 1
      request:
        host: management.azure.com
        body: '{"location":"eastus","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":200}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisk?api-version=2022-07-02
        method: PUT
      response:
        body: "{\r\n  \"name\": \"testdisk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisk\",\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 200,\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/5b40bbd0-cb76-493d-8e3d-cc444b9fa207?p=75f6570f-3039-4f38-a9f4-507eba1684c0&api-version=2022-07-02
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/5b40bbd0-cb76-493d-8e3d-cc444b9fa207?p=75f6570f-3039-4f38-a9f4-507eba1684c0&monitor=true&api-version=2022-07-02
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/CreateUpdateDisks3Min;2999,Microsoft.Compute/CreateUpdateDisks30Min;24999
        status: 202 Accepted
        code: 202
        duration: 3.95939954s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/5b40bbd0-cb76-493d-8e3d-cc444b9fa207?p=75f6570f-3039-4f38-a9f4-507eba1684c0&api-version=2022-07-02
        method: GET
      response:
            - chunked
        body: "{\r\n  \"startTime\": \"2023-05-15T08:27:53.208707+00:00\",\r\n  \"endTime\": \"2023-05-15T08:27:53.3337068+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"testdisk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisk\",\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 200,\r\n    \"diskIOPSReadWrite\": 500,\r\n    \"diskMBpsReadWrite\": 60,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"timeCreated\": \"2023-05-15T08:27:53.2243334+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\": 214748364800,\r\n    \"uniqueId\": \"eb6fb600-c11e-4489-80be-1ac36aa57e1f\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"5b40bbd0-cb76-493d-8e3d-cc444b9fa207\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
        status: 200 OK
        code: 200
        duration: 810.634425ms
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks?api-version=2022-07-02
        method: GET
      response:
            - chunked
        body: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testdisk\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisk\",\r\n      \"type\": \"Microsoft.Compute/disks\",\r\n      \"location\": \"eastus\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"creationData\": {\r\n          \"createOption\": \"Empty\"\r\n        },\r\n        \"diskSizeGB\": 200,\r\n        \"diskIOPSReadWrite\": 500,\r\n        \"diskMBpsReadWrite\": 60,\r\n        \"encryption\": {\r\n          \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n        },\r\n        \"networkAccessPolicy\": \"AllowAll\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"timeCreated\": \"2023-05-15T08:27:53.2243334+00:00\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"diskState\": \"Unattached\",\r\n        \"diskSizeBytes\": 214748364800,\r\n        \"uniqueId\": \"eb6fb600-c11e-4489-80be-1ac36aa57e1f\"\r\n      }\r\n    }\r\n  ]\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/HighCostGet3Min;239,Microsoft.Compute/HighCostGet30Min;1919
        status: 200 OK
        code: 200
        duration: 978.641681ms
[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisk?api-version=2022-07-02
        method: PUT
      response:
        body: "{\r\n  \"error\": {\r\n    \"code\": \"InvalidParameter\",\r\n    \"message\": \"Required parameter 'disk.Properties' is missing (null).\",\r\n    \"target\": \"disk.Properties\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/CreateUpdateDisks3Min;2998,Microsoft.Compute/CreateUpdateDisks30Min;24998
        status: 400 Bad Request
        code: 400
        duration: 525.096443ms
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit/providers/Microsoft.Compute/disks/testdisknotfound?api-version=2022-07-02
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/disks/testdisknotfound'' under resource group ''aks-cit'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 266.356727ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-citnotfound/providers/Microsoft.Compute/disks?api-version=2022-07-02
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-citnotfound'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 94.768363ms
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01
        method: GET
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01
        status: 202 Accepted
        code: 202
        duration: 420.948854ms
[...]
