infra:
  clusterName: "kubernetes"
cloudControllerManager:
  enabled: true
  allocateNodeCidrs: "true"
  # bindAddress: "0.0.0.0"
  caCertDir: "/etc/ssl"
  # certDir: "/path/to/certs"
  cloudConfig: "/etc/kubernetes/azure.json"
  # cloudConfigSecretName: "azure-cloud-provider"
  clusterCIDR: "10.244.0.0/16"
  configureCloudRoutes: "true" # "false" for Azure CNI and "true" for other network plugins
  # contentionProfiling: "true"
  # controllerStartInterval: "2m"
  # enableDynamicReloading: "true"
  # http2MaxStreamsPerConnection: "47"
  imageRepository: "mcr.microsoft.com/oss/kubernetes"
  imageName: "azure-cloud-controller-manager"
  #imageTag: "v1.23.11"
  imagePullPolicy: "IfNotPresent"
  # kubeAPIBurst: "100"
  # kubeAPIContentType: "application/vnd.kubernetes.protobuf"
  # kubeAPIQPS: "50.0"
  # kubeconfig: "/kubeconfig"
  leaderElect: "true"
  # leaderElectLeaseDuration: "30s"
  # leaderElectRenewDeadline: "15s"
  # leaderElectRetryPeriod: "5s"
  # leaderElectResourceLock: "configmap"
  logVerbosity: "2"
  # master: "192.168.4.20"
  # minResyncPeriod: "100m"
  # nodeStatusUpdateFrequency: "10m"
  replicas: 1
  # profiling: "false"
  routeReconciliationPeriod: "10s"
  securePort: 10268
  # useServiceAccountCredentials: "false"
  containerResourceManagement:
    requestsCPU: "100m"
    requestsMem: "128Mi"
    limitsCPU: "4"
    limitsMem: "2Gi"
  tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    effect: NoSchedule
  - key: node-role.kubernetes.io/etcd
    effect: NoExecute
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  federatedTokenPath: "/var/run/secrets/azure/tokens"
cloudNodeManager:
  enabled: true
  imageRepository: "mcr.microsoft.com/oss/kubernetes"
  imageName: "azure-cloud-node-manager"
  #imageTag: "v1.23.11"
  imagePullPolicy: "IfNotPresent"
  # cloudConfig: "/etc/kubernetes/azure.json"
  # kubeAPIBurst: "100"
  # kubeAPIContentType: "application/vnd.kubernetes.protobuf"
  # kubeAPIQPS: "50.0"
  # kubeconfig: "/kubeconfig"
  # master: "192.168.4.20"
  # minResyncPeriod: "100m"
  # nodeStatusUpdateFrequency: "10m"
  # waitRoutes: "false"
  # useInstanceMetadata: "true"
  logVerbosity: "2"
  containerResourceManagement:
    requestsCPU: "50m"
    requestsMem: "50Mi"
    limitsCPU: "2"
    limitsMem: "512Mi"
    requestsCPUWin: "50m"
    requestsMemWin: "50Mi"
    limitsCPUWin: "2"
    limitsMemWin: "512Mi"
  enableHealthProbeProxy: false
  healthCheckPort: 10356
  targetPort: 10256
  healthProbeProxyImage: "ss104301/health-probe-proxy:latest"
  healthProbeProxyImageWindows: "ss104301/health-probe-proxy-windows:latest"
