version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "gomod"
    directory: "/health-probe-proxy"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "gomod"
    directory: "/kubetest2-aks"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"

  - package-ecosystem: "gomod"
    directory: "/pkg/azclient"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"

  - package-ecosystem: gomod
    directory: /pkg/azclient/client-gen
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"

  - package-ecosystem: gomod
    directory: /pkg/azclient/configloader
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: gomod
    directory: /pkg/azclient/trace
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
  - package-ecosystem: "docker"
    directory: "/health-probe-proxy"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"

  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.29"
    target-branch: "release-1.29"
    ignore:
      - dependency-name: "k8s.io/*"
        versions: [">=0.30.0"]
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.29"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"
      - "release-1.29"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.29"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.29"
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.26"
    target-branch: "release-1.26"
    ignore:
      - dependency-name: "k8s.io/*"
        versions: [">=0.27.0"]
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.26"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"
      - "release-1.26"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.26"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.26"
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.27"
    target-branch: "release-1.27"
    ignore:
      - dependency-name: "k8s.io/*"
        versions: [">=0.28.0"]
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.27"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"
      - "release-1.27"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.27"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.27"
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.28"
    target-branch: "release-1.28"
    ignore:
      - dependency-name: "k8s.io/*"
        versions: [">=0.29.0"]
    groups:
      k8s:
        applies-to: version-updates
        patterns:
        - "k8s.io*"
        update-types:
        - "patch"
        - "minor"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.28"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/testing"
      - "lgtm"
      - "approved"
      - "release-1.28"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "release-1.28"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
      - "release-1.28"

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "documentation"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: "01:00"
      timezone: "Asia/Shanghai"
    target-branch: "documentation"
    labels:
      - "area/dependency"
      - "release-note-none"
      - "ok-to-test"
      - "kind/cleanup"
      - "lgtm"
      - "approved"
