.glide/
.pkg_config
bin/
obj/
testResults/
_report
_output/
translations/
node_modules/
public/
!vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/public
site/public/
site/resources/


# bazel
/bazel-bin
/bazel-cloud-provider-azure
/bazel-genfiles
/bazel-out
/bazel-testlogs

# ssh keys
.ssh*

# vscode
.vscode

# goland
.idea

# helm chart verification
chart_verify/

# kubetest2
_artifacts
_kubeconfig
_rundir

site/.hugo_build.lock

.kubeconfig/
