.glide/
.pkg_config
bin/
obj/
testResults/
_artifacts
_report
_output/
translations/
node_modules/
public/
!vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/public

# bazel
/bazel-bin
/bazel-cloud-provider-azure
/bazel-genfiles
/bazel-out
/bazel-testlogs

# ssh keys
.ssh*

# vscode
.vscode

# goland
.idea
