---
version: 2
interactions:
    - id: 0
      request:
        host: management.chinacloudapi.cn
        body: '{"location":"chinaeast2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-BackendAddressPool?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool","name":"aks-cit-BackendAddressPool","type":"Microsoft.Resources/resourceGroups","location":"chinaeast2","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.chinacloudapi.cn
        body: '{"location":"chinaeast2","properties":{"publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static"},"sku":{"name":"Standard","tier":"Regional"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip?api-version=2024-05-01
        method: PUT
      response:
        body: '{"name":"publicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip","etag":"W/\"00000000-0000-0000-0000-000000000000\"","location":"chinaeast2","properties":{"provisioningState":"Updating","resourceGuid":"00000000-0000-0000-0000-000000000000","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 2
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 3
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip?api-version=2024-05-01
        method: GET
      response:
        body: '{"name":"publicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip","etag":"W/\"00000000-0000-0000-0000-000000000000\"","location":"chinaeast2","properties":{"provisioningState":"Succeeded","resourceGuid":"00000000-0000-0000-0000-000000000000","ipAddress":"52.130.75.15","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"00000000-0000-0000-0000-000000000000"
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 4
      request:
        host: management.chinacloudapi.cn
        body: '{"location":"chinaeast2","properties":{"frontendIPConfigurations":[{"name":"frontendIPConfiguration","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip"}}}]},"sku":{"name":"Standard","tier":"Regional"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource?api-version=2024-05-01
        method: PUT
      response:
        body: '{"name":"testParentResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource","etag":"W/\"00000000-0000-0000-0000-000000000000\"","type":"Microsoft.Network/loadBalancers","location":"chinaeast2","properties":{"provisioningState":"Succeeded","resourceGuid":"00000000-0000-0000-0000-000000000000","frontendIPConfigurations":[{"name":"frontendIPConfiguration","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/frontendIPConfigurations/frontendIPConfiguration","etag":"W/\"00000000-0000-0000-0000-000000000000\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/publicIPAddresses/publicip"}}}],"backendAddressPools":[],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[]},"sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
[...]
    - id: 6
      request:
        host: management.chinacloudapi.cn
        body: '{"name":"testResource","properties":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResource?api-version=2024-05-01
        method: PUT
      response:
        body: '{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResource","etag":"W/\"00000000-0000-0000-0000-000000000000\"","properties":{"provisioningState":"Updating","loadBalancerBackendAddresses":[]},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}'
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
[...]
    - id: 10
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResourcenotfound?api-version=2024-05-01
        method: GET
      response:
        body: '{"error":{"code":"NotFound","message":"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResourcenotfound not found.","details":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 200ms
[...]
    - id: 13
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools?api-version=2024-05-01
        method: GET
      response:
        body: '{"value":[{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResource","etag":"W/\"00000000-0000-0000-0000-000000000000\"","properties":{"provisioningState":"Succeeded","loadBalancerBackendAddresses":[]},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 14
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPoolnotfound/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools?api-version=2024-05-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-cit-BackendAddressPoolnotfound'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
    - id: 15
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-BackendAddressPool/providers/Microsoft.Network/loadBalancers/testParentResource/backendAddressPools/testResource?api-version=2024-05-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
            Location:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/chinaeast2/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-05-01&c=c&h=h&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
[...]
    - id: 22
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRCQUNLRU5EQUREUkVTU1BPT0wtQ0hJTkFFQVNUMiIsImpvYkxvY2F0aW9uIjoiY2hpbmFlYXN0MiJ9?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
