---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-RouteTable?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable","name":"aks-cit-RouteTable","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.246236894s
    - id: 1
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable/providers/Microsoft.Network/routeTables/testResource?api-version=2023-05-01
        method: PUT
      response:
        body: '{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable/providers/Microsoft.Network/routeTables/testResource","etag":"W/\"00000000-0000-0000-0000-000000000000\"","type":"Microsoft.Network/routeTables","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"00000000-0000-0000-0000-000000000000","disableBgpRoutePropagation":false,"routes":[]}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2023-05-01
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.314349126s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2023-05-01
        method: GET
      response:
        body: '{"status":"InProgress"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 752.037406ms
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable/providers/Microsoft.Network/routeTables/testResource?api-version=2023-05-01
        method: GET
      response:
        body: '{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable/providers/Microsoft.Network/routeTables/testResource","etag":"W/\"00000000-0000-0000-0000-000000000000\"","type":"Microsoft.Network/routeTables","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"00000000-0000-0000-0000-000000000000","disableBgpRoutePropagation":false,"routes":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"00000000-0000-0000-0000-000000000000"
        status: 200 OK
        code: 200
        duration: 1.384240737s
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-RouteTable/providers/Microsoft.Network/routeTables/testResource?api-version=2023-05-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2023-05-01
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-01
        status: 202 Accepted
        code: 202
        duration: 1.23055349s
[...]
