---
version: 2
interactions:
    - id: 0
      request:
        host: login.microsoftonline.com
        body: ""
        form:
            client_id:
                - 2cb66ba2-e03b-4c9b-99ce-3a22b7bdf8e6
        headers: {}
        url: https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Ftenantid%2Foauth2%2Fv2.0%2Fauthorize
        method: GET
      response:
        body: '{"tenant_discovery_endpoint":"https://login.microsoftonline.com/tenantid/v2.0/.well-known/openid-configuration","api-version":"1.1","metadata":[{"preferred_network":"login.microsoftonline.com","preferred_cache":"login.windows.net","aliases":["login.microsoftonline.com","login.windows.net","login.microsoft.com","sts.windows.net"]},{"preferred_network":"login.partner.microsoftonline.cn","preferred_cache":"login.partner.microsoftonline.cn","aliases":["login.partner.microsoftonline.cn","login.chinacloudapi.cn"]},{"preferred_network":"login.microsoftonline.de","preferred_cache":"login.microsoftonline.de","aliases":["login.microsoftonline.de"]},{"preferred_network":"login.microsoftonline.us","preferred_cache":"login.microsoftonline.us","aliases":["login.microsoftonline.us","login.usgovcloudapi.net"]},{"preferred_network":"login-us.microsoftonline.com","preferred_cache":"login-us.microsoftonline.com","aliases":["login-us.microsoftonline.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.044373004s
    - id: 1
      request:
        host: login.microsoftonline.com
        body: ""
        form:
            client_id:
                - 2cb66ba2-e03b-4c9b-99ce-3a22b7bdf8e6
        headers: {}
        url: https://login.microsoftonline.com/tenantid/v2.0/.well-known/openid-configuration
        method: GET
      response:
        body: '{"token_endpoint":"https://login.microsoftonline.com/tenantid/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/tenantid/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/tenantid/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/tenantid/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/tenantid/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/tenantid/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/tenantid/kerberos","tenant_region_scope":"WW","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 261.900201ms
    - id: 2
      request:
        host: login.microsoftonline.com
        body: client_id=clientid&client_secret=clientsecret&grant_type=client_credentials&scope=https%3A%2F%2Fmanagement.azure.com%2F.default+openid+offline_access+profile
        form:
            client_id:
                - 2cb66ba2-e03b-4c9b-99ce-3a22b7bdf8e6
            client_secret:
                - clientsecret
            grant_type:
                - client_credentials
            scope:
                - https://management.azure.com/.default openid offline_access profile
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
        url: https://login.microsoftonline.com/tenantid/oauth2/v2.0/token
        method: POST
      response:
        body: '{"token_type":"Bearer","expires_in":86399,"ext_expires_in":86399,"access_token":"faketoken"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.224101ms
