---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-Secret?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret","name":"aks-cit-Secret","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.azure.com
        body: '{"location":"eastus","properties":{"accessPolicies":[{"objectId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"],"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"]},"tenantId":"tenantid"}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"publicNetworkAccess":"Enabled","sku":{"family":"A","name":"standard"},"tenantId":"tenantid"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault","name":"akscitsecretparevault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"{EMAIL}","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"{EMAIL}","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"tenantid","accessPolicies":[{"tenantId":"tenantid","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"],"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://akscitsecretparevault.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200ms
[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"properties":{"value":"test"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets/akscitkeyvaulttest?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets/akscitkeyvaulttest","name":"akscitkeyvaulttest","type":"Microsoft.KeyVault/vaults/secrets","location":"eastus","properties":{"attributes":{"enabled":true,"created":1725555231,"updated":1725555231},"secretUri":"https://akscitsecretparevault.vault.azure.net/secrets/akscitkeyvaulttest","secretUriWithVersion":"https://akscitsecretparevault.vault.azure.net/secrets/akscitkeyvaulttest/c35fe50a84d748e099fe4ddbf4e8ed45"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200ms
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets/akscitkeyvaulttestnotfound?api-version=2023-07-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The specified resource does not exist. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2147446"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 200ms
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets?api-version=2023-07-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secret/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets/akscitkeyvaulttest","name":"akscitkeyvaulttest","type":"Microsoft.KeyVault/vaults/secrets","location":"eastus","properties":{"attributes":{"enabled":true,"created":1725555231,"updated":1725555231},"secretUri":"https://akscitsecretparevault.vault.azure.net/secrets/akscitkeyvaulttest","secretUriWithVersion":"https://akscitsecretparevault.vault.azure.net/secrets/akscitkeyvaulttest/c35fe50a84d748e099fe4ddbf4e8ed45"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Secretnotfound/providers/Microsoft.KeyVault/vaults/akscitsecretparevault/secrets?api-version=2023-07-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-cit-Secretnotfound'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/akscitsecretparevault/purge?api-version=2023-07-01
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzODYxMTUyMDQ0NTczMDI5NXwwOTM0NkZGRTE1QjE0MDQxODIzRjdERTQ1Njg1OERENw?api-version=2023-07-01&c=c&h=h&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRTRUNSRVQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
