interactions:
- id: 0
  request:
    body: '{"location": "eastus2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    host: management.azure.com
    method: PUT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ServiceGateway?api-version=2021-04-01
  response:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway", "name": "aks-cit-ServiceGateway", "type": "Microsoft.Resources/resourceGroups", "location": "eastus2", "properties": {"provisioningState": "Succeeded"}}'
    code: 201
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
      - '11999'
    status: 201 Created
- id: 1
  request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    host: management.azure.com
    method: PUT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource?api-version=2025-05-01
  response:
    body: '{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource","type":"Microsoft.Network/serviceGateways","location":"eastus2","properties":{"provisioningState":"Updating"}}'
    code: 201
    duration: 200ms
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/00000000-0000-0000-0000-000000000000?api-version=2025-05-01&c=c&h=h&s=s&t=t
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
      - '11999'
    status: 201 Created
- id: 2
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/00000000-0000-0000-0000-000000000000?api-version=2025-05-01&c=c&h=h&s=s&t=t
  response:
    body: '{"status":"Succeeded"}'
    code: 200
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
      - '16499'
    status: 200 OK
- id: 3
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource?api-version=2025-05-01
  response:
    body: '{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource","type":"Microsoft.Network/serviceGateways","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'
    code: 200
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00000000-0000-0000-0000-000000000000"
      X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
      - '16498'
    status: 200 OK
[...]
- id: 5
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResourcenotfound?api-version=2025-05-01
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/serviceGateways/testResourcenotfound'' under resource group ''aks-cit-ServiceGateway'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    code: 404
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
[...]
- id: 8
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways?api-version=2025-05-01
  response:
    body: '{"value":[{"name":"testResource","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource","type":"Microsoft.Network/serviceGateways","location":"eastus2","properties":{"provisioningState":"Succeeded"}}]}'
    code: 200
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
      - '16499'
    status: 200 OK
- id: 9
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGatewaynotfound/providers/Microsoft.Network/serviceGateways?api-version=2025-05-01
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-cit-ServiceGatewaynotfound'' could not be found."}}'
    code: 404
    duration: 200ms
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
- id: 10
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: DELETE
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ServiceGateway/providers/Microsoft.Network/serviceGateways/testResource?api-version=2025-05-01
  response:
    body: ''
    code: 202
    duration: 200ms
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/00000000-0000-0000-0000-000000000000?api-version=2025-05-01&c=c&h=h&s=s&t=t
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operationResults/00000000-0000-0000-0000-000000000000?api-version=2025-05-01&c=c&h=h&s=s&t=t
      X-Ms-Ratelimit-Remaining-Subscription-Global-Deletes:
      - '11999'
    status: 202 Accepted
[...]
- id: 13
  request:
    body: ''
    form: {}
    headers:
    host: management.azure.com
    method: GET
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRTRUNVUklUWUdST1VQLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2021-04-01&c=c&h=h&s=s&t=t
  response:
    body: ''
    code: 200
    duration: 200ms
    headers:
      X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
      - '16499'
    status: 200 OK
version: 2
