---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-FileShare?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare","name":"aks-cit-FileShare","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.67911692s
    - id: 1
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"eastus","properties":{"accessTier":"Cool","allowBlobPublicAccess":false,"allowCrossTenantReplication":false,"allowSharedKeyAccess":true,"defaultToOAuthAuthentication":false,"dnsEndpointType":"Standard","encryption":{"keySource":"Microsoft.Storage","requireInfrastructureEncryption":false,"services":{"blob":{"enabled":true,"keyType":"Account"},"file":{"enabled":true,"keyType":"Account"}}},"isHnsEnabled":true,"isLocalUserEnabled":true,"isNfsV3Enabled":true,"isSftpEnabled":true,"largeFileSharesState":"Enabled","minimumTlsVersion":"TLS1_2","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[]},"publicNetworkAccess":"Disabled","supportsHttpsTrafficOnly":true},"sku":{"name":"Standard_LRS","tier":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true&api-version=2023-01-01&t=638344924124566129&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTgwNDI4WhcNMjQwNzI3MTgwNDI4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true&api-version=2023-01-01&t=638344924124566129&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQ[...]
    - id: 3
      request:
        host: management.azure.com
        body: '{"properties":{"accessTier":"Cool","enabledProtocols":"SMB"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest/fileServices/default/shares/akscitaccountfilesharetest?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest/fileServices/default/shares/akscitaccountfilesharetest","name":"akscitaccountfilesharetest","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Cool","enabledProtocols":"SMB"}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DBDB53999D6A19"'
        status: 201 Created
        code: 201
        duration: 1.142021432s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest/fileServices/default/shares/akscitaccountfilesharetest?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest/fileServices/default/shares/akscitaccountfilesharetest","name":"akscitaccountfilesharetest","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBDB53999D6A19\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"Cool","accessTierChangeTime":"2001-02-03T04:05:06Z","lastModifiedTime":"2001-02-03T04:05:06Z","shareQuota":102400}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DBDB53999D6A19"'
        status: 200 OK
        code: 200
        duration: 973.339658ms
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitaccountsdktest/fileServices/default/shares/akscitaccountfilesharetestnotfound?api-version=2023-01-01
        method: GET
      response:
        body: '{"error":{"code":"ShareNotFound","message":"The specified share does not exist.\nRequestId:00000000-0000-0000-0000-000000000000\nTime:2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 905.357767ms
[...]
