---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-FileShare?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare","name":"aks-cit-FileShare","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"eastus","properties":{"accessTier":"Cool","allowBlobPublicAccess":false,"allowCrossTenantReplication":false,"allowSharedKeyAccess":true,"defaultToOAuthAuthentication":false,"dnsEndpointType":"Standard","encryption":{"keySource":"Microsoft.Storage","requireInfrastructureEncryption":false,"services":{"blob":{"enabled":true,"keyType":"Account"},"file":{"enabled":true,"keyType":"Account"}}},"isHnsEnabled":true,"isLocalUserEnabled":true,"isNfsV3Enabled":true,"isSftpEnabled":true,"largeFileSharesState":"Enabled","minimumTlsVersion":"TLS1_2","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[]},"publicNetworkAccess":"Disabled","supportsHttpsTrafficOnly":true},"sku":{"name":"Standard_LRS","tier":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest?api-version=2023-05-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/00000000-0000-0000-0000-000000000000?api-version=2023-05-01&c=c&h=h&monitor=true&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/00000000-0000-0000-0000-000000000000?api-version=2023-05-01&c=c&h=h&monitor=true&s=s&t=t
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest","name":"akscitacctsdktest","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Disabled","keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"isNfsV3Enabled":true,"isLocalUserEnabled":true,"isSftpEnabled":true,"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","isHnsEnabled":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Deny"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Cool","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://akscitacctsdktest.dfs.core.windows.net/","web":"https://akscitacctsdktest.z13.web.core.windows.net/","blob":"https://akscitacctsdktest.blob.core.windows.net/","queue":"https://akscitacctsdktest.queue.core.windows.net/","table":"https://akscitacctsdktest.table.core.windows.net/","file":"https://akscitacctsdktest.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"properties":{"accessTier":"Cool","enabledProtocols":"SMB"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest/fileServices/default/shares/akscitaccountfilesharetest?api-version=2023-05-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest/fileServices/default/shares/akscitaccountfilesharetest","name":"akscitaccountfilesharetest","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Cool","enabledProtocols":"SMB"}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DCE0774FB48F74"'
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest/fileServices/default/shares/akscitaccountfilesharetest?api-version=2023-05-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest/fileServices/default/shares/akscitaccountfilesharetest","name":"akscitaccountfilesharetest","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DCE0774FB48F74\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"Cool","accessTierChangeTime":"2001-02-03T04:05:06Z","lastModifiedTime":"2001-02-03T04:05:06Z","shareQuota":102400}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DCE0774FB48F74"'
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-FileShare/providers/Microsoft.Storage/storageAccounts/akscitacctsdktest/fileServices/default/shares/akscitaccountfilesharetestnotfound?api-version=2023-05-01
        method: GET
      response:
        body: '{"error":{"code":"ShareNotFound","message":"The specified share does not exist.\nRequestId:00000000-0000-0000-0000-000000000000\nTime:2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 200ms
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRGSUxFU0hBUkUtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
