---
version: 2
interactions:
    - id: 0
      request:
        host: management.chinacloudapi.cn
        body: '{"location":"chinaeast2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-Provider?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Provider","name":"aks-cit-Provider","type":"Microsoft.Resources/resourceGroups","location":"chinaeast2","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000","managedByRoleDefinitionId":"00000000-0000-0000-0000-000000000000"}],"resourceTypes":[{"resourceType":"networkManagers","locations":["China East 2","China North 2","China North 3","China East 3"],"apiVersions":["2024-03-01","2024-01-01-preview","2024-01-01","2023-11-01","2023-09-01","2023-06-01","2023-05-01","2023-04-01","2023-03-01-preview","2023-02-01","2022-11-01","2022-09-01","2022-07-01","2022-06-01-preview","2022-05-01","2022-04-01-preview","2022-01-01"],"defaultApiVersion":"2022-05-01","capabilities":"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"networkManagerConnections","locations":[],"apiVersions":["2024-03-01","2024-01-01-preview","2024-01-01","2023-11-01","2023-09-01","2023-06-01","2023-05-01","2023-04-01","2023-03-01-preview","2023-02-01","2022-11-01","2022-09-01","2022-07-01","2022-06-01-preview","2022-05-01","2022-04-01-preview","2022-01-01"],"defaultApiVersion":"2022-05-01","capabilities":"SupportsExtension"},{"reso[...]
    - id: 2
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorizations":[{"applicationId":"00000000-0000-0000-000[...]
    - id: 3
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-Provider?api-version=2021-04-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRQUk9WSURFUi1DSElOQUVBU1QyIiwiam9iTG9jYXRpb24iOiJjaGluYWVhc3QyIn0?api-version=2021-04-01&c=c&h=h&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
    - id: 4
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRQUk9WSURFUi1DSElOQUVBU1QyIiwiam9iTG9jYXRpb24iOiJjaGluYWVhc3QyIn0?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
