---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-Provider?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-Provider","name":"aks-cit-Provider","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService","namespace":"Microsoft.ContainerService","authorizations":[{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000","managedByRoleDefinitionId":"00000000-0000-0000-0000-000000000000","managedByAuthorization":{"allowManagedByInheritance":true}},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000"},{"applicationId":"00000000-0000-0000-0000-000000000000","roleDefinitionId":"00000000-0000-0000-0000-000000000000","managedByRoleDefinitionId":"00000000-0000-0000-0000-000000000000","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"ManagedClusters/eventGridFilters","locations":["Australia Central","Australia Central 2","Australia East","Australia Southeast","Brazil South","Brazil Southeast","Canada Central","Canada East","Central India","Central US","East Asia","East US","East US 2","France Central","France South","Germany North","Germany West Central","Israel Central","Italy North","Japan East","Japan West","Jio India Central","Jio India West","Korea Central","Korea South","Mexico Central","North Central US","North Europe","Norway East","Norway West","Poland Central","Qatar Central","South Africa North","South Africa West","South Central US","South India","Southeast Asia","Spain Central","Sweden Central","Switzerland North","Switzerland West","UAE Central","UAE North","UK South","UK West","West Central US","West Europe","West US","West US 2","West US 3","Central US EUAP","East US 2 EUAP","Malaysia South","Sweden South"],"apiVersions":["2024-07-02-preview","2024-07-01","2024-06-02-preview","2024-06-01","2024-05-02-preview","2024-05-01","2024-04-02-preview","2024-03-02-preview","2024-02-02-preview","2024-02-01","2024-01-02-preview","2024-01-01","2023-11-02-preview","2023-11-01","2023-10-02-preview","2023-10-01","2023-09-02-preview","2023-09-01","2023-08-02-preview","2023-08-01","2023-07-02-preview","2023-07-01","2023-06-02-preview","2023-06-01","2023-05-02-preview","2023-05-01","2023-04-02-preview","2023-04-01","2023-03-02-preview","2023-03-01","2023-02-02-preview","2023-02-01","2023-01-02-preview","2023-01-01","2022-11-02-preview","2022-11-01","2022-10-02-preview","2022-09-02-preview","2022-09-01","2022-08-03-preview","2022-08-02-preview","2022-08-01","2022-07-02-preview","2022-07-01","2022-06-01","2022-04-01","2022-03-01","2022-02-01","2022-01-01","2021-10-01","2021-09-01","2021-08-01","2021-07-01","2021-05-01","2021-03-01","2021-02-01"],"capabilities":"None"},{"resourceType":"fleetMemberships","locations":["Australia Central","Australia Central 2","Australia East","Australia Southeast","Brazil South","Brazil Southeast","Canada Central","Canada East","Central India","Central US","East Asia","East US","East US 2","France Central","France South","Germany North","Germany West Central","Israel Central","Italy North","Japan East","Japan West","Jio India Central","Jio India West","Korea Central","Korea South","Mexico Central","North Central US","Nor[...]
