---
version: 2
interactions:
    - id: 0
      request:
        host: management.chinacloudapi.cn
        body: '{"location":"chinaeast2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster","name":"aks-cit-ManagedCluster","type":"Microsoft.Resources/resourceGroups","location":"chinaeast2","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.chinacloudapi.cn
        body: '{"identity":{"type":"SystemAssigned"},"location":"chinaeast2","properties":{"agentPoolProfiles":[{"count":3,"mode":"System","name":"agentpool1","vmSize":"Standard_D2s_v3"}],"dnsPrefix":"aks-cit-ManagedClustertestResourcednsPrefix","enableRBAC":true,"linuxProfile":{"adminUsername":"azureuser","ssh":{"publicKeys":[{"keyData":"ssh-rsa {KEY}\n"}]}}},"sku":{"name":"Base","tier":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource?api-version=2024-10-01
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource",
             "location": "chinaeast2",
             "name": "testResource",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "properties": {
              "provisioningState": "Creating",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.30",
              "currentKubernetesVersion": "1.30.9",
              "dnsPrefix": "aks-cit-ManagedClustertestResourcednsPrefix",
              "fqdn": "aks-cit-managedclustertestresourcednsprefix-5h6j8t00.hcp.chinaeast2.cx.prod.service.azk8s.cn",
              "azurePortalFQDN": "aks-cit-managedclustertestresourcednsprefix-5h6j8t00.portal.hcp.chinaeast2.cx.prod.service.azk8s.cn",
              "agentPoolProfiles": [
               {
                "name": "agentpool1",
                "count": 3,
                "vmSize": "Standard_D2s_v3",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 250,
                "type": "VirtualMachineScaleSets",
                "scaleDownMode": "Delete",
                "provisioningState": "Creating",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.30",
                "currentOrchestratorVersion": "1.30.9",
                "enableNodePublicIP": false,
                "nodeLabels": {},
                "mode": "System",
                "osType": "Linux",
                "osSKU": "Ubuntu",
                "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202502.09.0",
                "upgradeSettings": {
                 "maxSurge": "10%"
                },
                "enableFIPS": false,
                "securityProfile": {
                 "enableVTPM": false,
                 "enableSecureBoot": false
                }
               }
              ],
              "linuxProfile": {
               "adminUsername": "azureuser",
               "ssh": {
                "publicKeys": [
                 {
                  "keyData": "ssh-rsa {KEY}\n"
                 }
                ]
               }
              },
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "nodeResourceGroup": "MC_aks-cit-ManagedCluster_testResource_chinaeast2",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "azure",
               "networkPluginMode": "overlay",
               "networkPolicy": "none",
               "networkDataplane": "azure",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ]
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "resourceUID": "67c6923ff0aa4f000103f186",
              "metricsProfile": {
               "costAnalysis": {
                "enabled": false
               }
              }
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "tenantid"
             },
             "sku": {
              "name": "Base",
              "tier": "Standard"
             }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2016-03-30&c=c&h=h&s=s&t=t
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 2
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2016-03-30&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: |-
            {
             "name": "00000000-0000-0000-0000-000000000000",
             "status": "Succeeded",
             "startTime": "2001-02-03T04:05:06Z",
             "endTime": "2001-02-03T04:05:06Z"
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
    - id: 5
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResourcenotfound?api-version=2024-10-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/testResourcenotfound'' under resource group ''aks-cit-ManagedCluster'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
[...]
    - id: 9
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters?api-version=2024-10-01
        method: GET
      response:
        body: |-
            {
             "value": [
              {
               "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource",
               "location": "chinaeast2",
               "name": "testResource",
               "type": "Microsoft.ContainerService/ManagedClusters",
               "properties": {
                "provisioningState": "Succeeded",
                "powerState": {
                 "code": "Running"
                },
                "kubernetesVersion": "1.30",
                "currentKubernetesVersion": "1.30.9",
                "dnsPrefix": "aks-cit-ManagedClustertestResourcednsPrefix",
                "fqdn": "aks-cit-managedclustertestresourcednsprefix-5h6j8t00.hcp.chinaeast2.cx.prod.service.azk8s.cn",
                "azurePortalFQDN": "aks-cit-managedclustertestresourcednsprefix-5h6j8t00.portal.hcp.chinaeast2.cx.prod.service.azk8s.cn",
                "agentPoolProfiles": [
                 {
                  "name": "agentpool1",
                  "count": 3,
                  "vmSize": "Standard_D2s_v3",
                  "osDiskSizeGB": 128,
                  "osDiskType": "Managed",
                  "kubeletDiskType": "OS",
                  "maxPods": 250,
                  "type": "VirtualMachineScaleSets",
                  "enableAutoScaling": false,
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                   "code": "Running"
                  },
                  "orchestratorVersion": "1.30",
                  "currentOrchestratorVersion": "1.30.9",
                  "enableNodePublicIP": false,
                  "mode": "System",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "[...]
    - id: 10
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters?%24skipToken=1893773&api-version=2024-10-01&skipToken=1893773
        method: GET
      response:
        body: |-
            {
             "value": []
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 11
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedClusternotfound/providers/Microsoft.ContainerService/managedClusters?api-version=2024-10-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-cit-ManagedClusternotfound'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
    - id: 12
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource?api-version=2024-10-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncoperation:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/chinaeast2/operations/00000000-0000-0000-0000-000000000000?api-version=2016-03-30&c=c&h=h&s=s&t=t
            Location:
                - https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/chinaeast2/operationresults/00000000-0000-0000-0000-000000000000?api-version=2016-03-30&c=c&h=h&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
[...]
    - id: 15
      request:
        host: management.chinacloudapi.cn
        body: ""
        form: {}
        headers:
        url: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRNQU5BR0VEQ0xVU1RFUi1DSElOQUVBU1QyIiwiam9iTG9jYXRpb24iOiJjaGluYWVhc3QyIn0?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
