---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster","name":"aks-cit-ManagedCluster","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"eastus","properties":{"agentPoolProfiles":[{"count":3,"mode":"System","name":"agentpool1","vmSize":"Standard_D2s_v3"}],"dnsPrefix":"aks-cit-ManagedClustertestResourcednsPrefix","enableRBAC":true,"linuxProfile":{"adminUsername":"azureuser","ssh":{"publicKeys":[{"keyData":"ssh-rsa {KEY}\n"}]}}},"sku":{"name":"Base","tier":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource?api-version=2024-01-01
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource",
             "location": "eastus",
             "name": "testResource",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "properties": {
              "provisioningState": "Creating",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.29",
              "currentKubernetesVersion": "1.29.7",
              "dnsPrefix": "aks-cit-ManagedClustertestResourcednsPrefix",
              "fqdn": "aks-cit-managedclustertestresourcednsprefix-rz7prioa.hcp.eastus.azmk8s.io",
              "azurePortalFQDN": "aks-cit-managedclustertestresourcednsprefix-rz7prioa.portal.hcp.eastus.azmk8s.io",
              "agentPoolProfiles": [
               {
                "name": "agentpool1",
                "count": 3,
                "vmSize": "Standard_D2s_v3",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 110,
                "type": "VirtualMachineScaleSets",
                "provisioningState": "Creating",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.29",
                "currentOrchestratorVersion": "1.29.7",
                "enableNodePublicIP": false,
                "nodeLabels": {},
                "mode": "System",
                "osType": "Linux",
                "osSKU": "Ubuntu",
                "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202408.27.0",
                "upgradeSettings": {
                 "maxSurge": "10%"
                },
                "enableFIPS": false
               }
              ],
              "linuxProfile": {
               "adminUsername": "azureuser",
               "ssh": {
                "publicKeys": [
                 {
                  "keyData": "ssh-rsa {KEY}\n"
                 }
                ]
               }
              },
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "nodeResourceGroup": "MC_aks-cit-ManagedCluster_testResource_eastus",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "kubenet",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ]
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "resourceUID": "66d9e0e042f7f200014ad7cf"
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "tenantid"
             },
             "sku": {
              "name": "Base",
              "tier": "Standard"
             }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2017-08-31&c=c&h=h&s=s&t=t
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2017-08-31&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: |-
            {
             "name": "00000000-0000-0000-0000-000000000000",
             "status": "Succeeded",
             "startTime": "2001-02-03T04:05:06Z",
             "endTime": "2001-02-03T04:05:06Z"
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResourcenotfound?api-version=2024-01-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/testResourcenotfound'' under resource group ''aks-cit-ManagedCluster'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters?api-version=2024-01-01
        method: GET
      response:
        body: |-
            {
             "value": [
              {
               "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource",
               "location": "eastus",
               "name": "testResource",
               "type": "Microsoft.ContainerService/ManagedClusters",
               "properties": {
                "provisioningState": "Succeeded",
                "powerState": {
                 "code": "Running"
                },
                "kubernetesVersion": "1.29",
                "currentKubernetesVersion": "1.29.7",
                "dnsPrefix": "aks-cit-ManagedClustertestResourcednsPrefix",
                "fqdn": "aks-cit-managedclustertestresourcednsprefix-rz7prioa.hcp.eastus.azmk8s.io",
                "azurePortalFQDN": "aks-cit-managedclustertestresourcednsprefix-rz7prioa.portal.hcp.eastus.azmk8s.io",
                "agentPoolProfiles": [
                 {
                  "name": "agentpool1",
                  "count": 3,
                  "vmSize": "Standard_D2s_v3",
                  "osDiskSizeGB": 128,
                  "osDiskType": "Managed",
                  "kubeletDiskType": "OS",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "enableAutoScaling": false,
                  "provisioningState": "Succeeded",
                  "powerState": {
                   "code": "Running"
                  },
                  "orchestratorVersion": "1.29",
                  "currentOrchestratorVersion": "1.29.7",
                  "enableNodePublicIP": false,
                  "mode": "System",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202408.27.0",
  [...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters?%24skipToken=9530800&api-version=2024-01-01&skipToken=9530800
        method: GET
      response:
        body: |-
            {
             "value": []
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedClusternotfound/providers/Microsoft.ContainerService/managedClusters?api-version=2024-01-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''aks-cit-ManagedClusternotfound'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 200ms
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-cit-ManagedCluster/providers/Microsoft.ContainerService/managedClusters/testResource?api-version=2024-01-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/00000000-0000-0000-0000-000000000000?api-version=2017-08-31&c=c&h=h&s=s&t=t
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/00000000-0000-0000-0000-000000000000?api-version=2017-08-31&c=c&h=h&s=s&t=t
        status: 202 Accepted
        code: 202
        duration: 200ms
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BS1M6MkRDSVQ6MkRNQU5BR0VEQ0xVU1RFUi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2021-04-01&c=c&h=h&s=s&t=t
        method: GET
      response:
        body: ""
        headers:
        status: 200 OK
        code: 200
        duration: 200ms
