name: Code Lint - azclient

on: 
  push:
    branches: [ master, 'release-**' ]
    paths:
      - 'pkg/azclient/**'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, 'release-**' ]
    paths:
      - 'pkg/azclient/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  Lint:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
      checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Discover Go modules
        id: gomods
        uses: ./.github/actions/discover-go-modules
      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ steps.gomods.outputs.version }}
          check-latest: true
          cache-dependency-path: ${{ steps.gomods.outputs.gosums }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.64
          args: -v
          verify: true
