name: Trivy scanner

on:
  workflow_dispatch:
  push:
    branches: [ master, 'release-**' ]
    paths:
      - '.github/workflows/trivy.yaml'
      - 'pkg/**.go'
      - '!kubetest2-aks/**.go'
      - 'cmd/**.go'
      - 'go.*'
      - '!vendor/**'
      - 'health-probe-proxy/**'
  pull_request:
    branches: [ master, 'release-**' ]
    paths:
      - '.github/workflows/trivy.yaml'
      - 'pkg/**.go'
      - '!kubetest2-aks/**.go'
      - 'cmd/**.go'
      - 'go.*'
      - '!vendor/**'
      - 'health-probe-proxy/**'
  schedule:
    - cron: '0 1 * * *'
permissions:
  contents: read
jobs:
  build:
    permissions:
      contents: write # for sbom
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Discover Go modules
        id: gomods
        uses: ./.github/actions/discover-go-modules
      - name: Set up Go 1.x
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ steps.gomods.outputs.version }}
          check-latest: true
          cache-dependency-path: ${{ steps.gomods.outputs.gosums }}
        id: go
      - name: Build images
        run: |
          export TAG=${{ github.sha }}
          export IMAGE_TAG=${{ github.sha }}
          make build-ccm-image
          make build-node-image-linux-amd64
          cd health-probe-proxy && make build-health-probe-proxy-image && cd ..

      - name: Run Trivy scanner CCM
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # master
        with:
          image-ref: 'local/azure-cloud-controller-manager:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-ccm-results.sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
        env:
          TRIVY_SKIP_DB_UPDATE: true
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v3.29.5
        with:
          sarif_file: 'trivy-ccm-results.sarif'
          category: azure-cloud-controller-manager-image
      - name: Run Trivy scanner CNM
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # master
        with:
          image-ref: 'local/azure-cloud-node-manager:${{ github.sha }}-linux-amd64'
          format: 'sarif'
          output: 'trivy-cnm-linux-results.sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
        env:
          TRIVY_SKIP_DB_UPDATE: true
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v3.29.5
        with:
          sarif_file: 'trivy-cnm-linux-results.sarif'
          category: azure-cloud-node-manager-linux-image
      - name: Run Trivy scanner health-probe-proxy
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # master
        with:
          image-ref: 'local/health-probe-proxy:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-health-probe-proxy-linux-results.sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
        env:
          TRIVY_SKIP_DB_UPDATE: true
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v3.29.5
        with:
          sarif_file: 'trivy-health-probe-proxy-linux-results.sarif'
          category: health-probe-proxy-linux-image

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # master
        with:
          scan-type: 'fs'
          format: 'github'
          output: 'dependency-results.sbom.json'
          scan-ref: '.'
          github-pat: ${{ secrets.GITHUB_TOKEN }}
        env:
          TRIVY_SKIP_DB_UPDATE: true
